@use 'other/config' as *;
@use 'other/utilities' as *;
@use 'other/buttons' as *;
@use 'other/light-dark-mode-scheme';

footer {
  background: var(--stats-bg);
  padding: 6rem 0rem;
  box-shadow: var(--showcase-box-shadow-p-element);
}

.footer-container {
  width: 100%;
  .text-container {
    display: grid;
    grid-template-columns: 70% auto;

    column-gap: 1rem;

    font-size: 2rem;

    .text-content {
      display: grid;
      align-items: flex-start;

      .text-main {
        padding: 2rem 1.5rem !important;
        background: var(--main-element-color);
        border-radius: 3rem;
      }
    }

    .footer-links {
      display: flex;
      justify-content: space-between;

      font-size: 1.3rem;

      margin-top: 5rem;
    }

    .f-links {
      display: grid;
      justify-items: center;
      justify-content: end;
      align-items: end;
    }
  }
}
