@use 'other/config' as *;
@use 'other/utilities' as *;
@use 'other/buttons' as *;

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 2rem;

  ul {
    display: flex;
  }

  li {
    margin: 1.5rem;
    border-bottom: 4px solid;
    border-color: transparent;
  }

  a {
    color: white;

    &:hover {
      color: #cd6799;
      border-bottom: 4px solid;

      border-color: darken(pink, 10%);
    }

    &:active {
      border: none;
    }
  }

  h1 {
    font-size: 3rem;
  }
}
