@use 'other/config' as *;
@use 'other/utilities' as *;
@use 'other/buttons' as *;
@use 'other/light-dark-mode-scheme';

.stats-bg {
  background: var(--stats-bg);
  padding-top: 2rem;
  padding-bottom: 2rem;
  box-shadow: var(--stats-bg-box-shadow);
}

.stat-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 2rem;
}

.current-release {
  font-weight: bold;
  padding: 1.5rem 1.5rem;
  background: var(--main-element-color);
  border-radius: 3rem;

  box-shadow: var(--current-release-box-shadow);
}
