@use 'other/config' as *;
@use 'other/utilities' as *;
@use 'other/buttons' as *;

.stats-bg {
  background: rgba(255, 255, 255, 0.2);
  padding: 2rem 0rem;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}

.stat-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 2rem;
}

.current-release {
  font-weight: bold;
}
