@use 'other/config' as *;
@use 'other/utilities' as *;
@use 'other/buttons' as *;
@use 'other/light-dark-mode-scheme';

.showcase {
  background: var(--background);
  a {
    color: var(--primary-text-color);
  }

  &-content {
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      width: 50%;
    }

    h1 {
      font-size: 5rem;
      line-height: 1.2;
      margin-bottom: 2rem;
    }

    p {
      margin: 2rem 0;
      font-size: 2rem;
      padding: 2rem 1.5rem;
      background: var(--showcase-light-bg);
      border-radius: 3rem;

      box-shadow: var(--showcase-box-shadow-p-element);
    }
  }
}

.btn-secondary {
  margin-left: 2rem;
}
