@use 'light-dark-mode-scheme';

%btn {
  display: inline-block;
  border-radius: 0.5rem;
  padding: 0.9rem 2rem;
  font-size: 1.5rem;
  font-weight: bold;

  box-shadow: var(--current-release-box-shadow);

  &:hover {
    transform: scale(0.98);
  }
}

.btn-primary {
  @extend %btn;
  background-color: var(--showcase-learn-more-btn);
  font-size: 3rem;
  border-radius: 2rem;

  @media (max-width: 444px) {
    font-size: 2rem;
  }

  @media (max-width: 355px) {
    font-size: 1.5rem;
  }

  &:hover {
    background-color: var(--showcase-learn-more-btn-hover);
  }
}

.btn-secondary {
  @extend %btn;
  background-color: var(--showcase-install-btn);
  font-size: 3rem;
  border-radius: 2rem;

  @media (max-width: 444px) {
    font-size: 2rem;
  }

  @media (max-width: 355px) {
    font-size: 1.5rem;
  }

  &:hover {
    background-color: var(--showcase-install-btn-hover);
  }
}

.stat-btn {
  padding: 1.5rem;
  font-weight: bold;
  border: 2px solid;
  border-color: var(--main-element-color);
  border-radius: 2rem;
  transition: all 0.2s ease-in-out;

  &:hover {
    background-color: var(--main-element-color);
  }
}

.f-link-btn {
  @extend %btn;
  text-align: center;

  width: 22rem;
  height: 5rem;
  display: block;
  padding: 1rem 1.5rem;
  margin-bottom: 1rem;
}

.twitter-btn {
  background: #25a1f2;
  border-radius: 2rem;
  box-shadow: var(--current-release-box-shadow);
}

.ayo-btn {
  background: purple;
  border-radius: 2rem;
  box-shadow: var(--current-release-box-shadow);
}

.f-link-main-btn {
  padding: 1rem 1.5rem;
  background-color: var(--main-element-color);
  border-radius: 2rem;

  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;

  &:hover {
    transform: scale(0.98);
    background-color: var(--features-hover-bg-color);
  }
}

.nav-btn {
  color: var(--primary-text-color);

  &:hover {
    border-bottom: 1px solid;
    border-color: var(--primary-text-color);
    padding-bottom: 0.5rem;
  }

  &:active {
    border: none;
  }
}
