%btn {
  display: inline-block;
  border-radius: 0.5rem;
  padding: 0.9rem 2rem;
  margin: 0.3rem;

  &:hover {
    transform: scale(0.98);
  }
}

.btn-primary {
  @extend %btn;
  background-color: pink;
}

.btn-secondary {
  @extend %btn;
  background-color: darken(pink, 10%);
}
