//? BASIC SETTINGS //

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

//? BASIC SETTINGS ENDS //

//? VARIABLES //

$gradient-background: linear-gradient(to right, #ffafbd, #ffc3a0);

//? GLOBAL //

body {
  font-family: "lato", Arial, Helvetica, sans-serif;
  font-weight: 300;
  line-height: 1.6;
  color: white;
  background: $gradient-background;
  overflow: auto;
}

.container {
  max-width: 1100px;
  padding: 0 3rem;
  margin: 0 auto;
}

h1 {
  font-family: "lato", Arial, Helvetica, sans-serif;
  font-weight: 300;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
  color: white;
  border: none;
}

li {
  list-style: none;
}

//? GLOBAL ENDS //
