//? BASIC SETTINGS //

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

//? BASIC SETTINGS ENDS //

//? VARIABLES //

$light-color: #f4f4f4;
$primary-color: red;
$secondary-color: #ff8700;
$primary-color2: #e0ffff;
$gradient-background: linear-gradient(to right, #ffafbd, #ffc3a0);

//? GLOBAL //

body {
  font-family: "lato", Arial, Helvetica, sans-serif;
  font-weight: 300;
  line-height: 1.6;
}

h1 {
  font-family: "lato", Arial, Helvetica, sans-serif;
  font-weight: 300;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

//? GLOBAL ENDS //
