@use 'config' as *;
@use 'utilities' as *;
@use 'buttons' as *;

@media (max-width: 1080px) {
  .showcase {
    &-content {
      display: flex;
      flex-direction: column;
      img {
        width: 50%;
      }

      h1 {
        font-size: 15rem;
        line-height: 1.2;
        margin-bottom: 2rem;
        margin-top: 5rem;
      }

      p {
        margin: 2rem 0;
        font-size: 2rem;
      }
    }

    .inner {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
}
