%line {
  border-bottom: 2px solid;
  border-color: darken(pink, 10%);
}

.line-show-top {
  @extend %line;
  width: 50rem;

  @media (max-width: 545px) {
    width: 100%;
  }
}

.line-show-bottom {
  @extend %line;
  width: 50rem;
  padding-top: 3.5rem;

  @media (max-width: 545px) {
    width: 100%;
  }
}
